[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pre-commit = "*"
install = "*"

[dev-packages]
twine = "*"
setuptools-scm = "*"
pre-commit = "*"
mypy = "*"
types-requests = "*"
typing-extensions = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-simplify = "*"
pep8-naming = "*"
pytest = "*"
pytest-env = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
sphinx-palewire-theme = "*"
sphinx-click = "*"

[requires]
python_version = "3.11"
