[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
setuptools-scm = "*"
twine = "*"
flake8 = "*"
sphinx = "*"
sphinx-autobuild = "*"
myst-parser = "*"
pre-commit = "*"
sphinxcontrib-napoleon = "*"

[requires]
python_version = "3.9"
